/* universal properties */
body, html {
    height: 100%;
}

.hero-image {
  background-image: url("fauci.v01.jpg");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Center the text over the image. */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

div.stuff {
  width: 250px;
  /* height: fit-content; */
  word-wrap: break-word;
  overflow: auto;
  text-align: left;
  border-width: 1px;
  border-style: dotted;
  border-color: black;
  float: left;
  margin: 10px;
  padding: 5px;
}

div#first {
  background-color: #A4A3B5;
}

div#second {
  background-color: #594336;
}

div#third {
  background-color: #A6654E;
}

div#fourth {
  background-color: #D99982;
}

div#fifth {
  background-color: #260A03;
}
