html {
	/* background-color:#777; */
	/* background-color:#151515; */
	background-color:#000;
	counter-reset: slideidx;
}

body, section {
	/* background-color:#e0e0e5; */
	background-color:#000;
	font-size:1.2em;
	font-weight: 200;
	color:#eee;
}

section {
	padding: 0.25em 1.75em 0.25em 1.75em;
	/* border: 0.75em solid #023; */
	border: 0.75em solid #6cf;
}

.title-slide {
	padding:0px;
}


/* A section is a slide. It's size is 800x600, and this will never change */

section, .view head > title {
	/*font-family: verdana, sans-serif;*/
	font-family: Oswald;
	font-style: normal;
	font-weight: 400;
}

.view section:after {
	counter-increment: slideidx;
	content: counter(slideidx, decimal-leading-zero);
	position: absolute; bottom: -80px; right: 100px;
	color: white;
}

.view head > title {
	color: white;
	text-align: center;
	margin: 1em 0 1em 0;
}

h1 {
	margin-top: 1.5em;
	text-align: center;
	font-size: 3em;
	color:#bf5;
}

h2 {
	margin-top: 0.75em;
	text-align: center;
	font-size: 2.5em;
	color: #bf5;
}

h3 {
	margin: 0.5em;
	text-align: center;
	color:#222;
	font-size:1.5em;
	background-color:#fff;
}

ul, ol {
	margin-left: 2em;
}

li {
	padding:0.25em 0.25em 0.25em 0.25em;
}


p {
	font-size: 1em;
	margin: 1em 1em 1em 1em;
}

blockquote {
	height: 100%;
	color:#eee;
	font-size: 1.25em;
	padding: 1em;
	background-color:#334433;
}

blockquote:before {
	content: open-quote;
}

blockquote:after {
	content: close-quote;
}

/* Figures are displayed full-page, with the caption
	 on top of the image/video */
figure {
	background-color:#334433;
	width: 100%;
	height: 100%;
}

figure > * {
	position: absolute;
}

figure > img, figure > video {
	width: 100%; height: 100%;
}

figcaption {
	margin: 70px;
	font-size: 1em;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 40px;
	text-align: center;
	background-color:#000;
	/* color:#79b; */
	color:#6cf;
	font-size:1.5em;
}

/* Transition effect */
/* Feel free to change the transition effect for original
	 animations. See here:
	 https://developer.mozilla.org/en/CSS/CSS_transitions
	 How to use CSS3 Transitions: */
/*
section {
	-moz-transition: left 150ms ease 0s;
	-webkit-transition: left 150ms ease 0s;
	-ms-transition: left 150ms ease 0s;
	transition: left 150ms ease 0s;
}
*/

.view section {
	-moz-transition: none;
	-webkit-transition: none;
	-ms-transition: none;
	transition: none;
}

.view section[aria-selected] {
	border: 5px red solid;
}

/* Before */
section {
	left: -150%;
}

/* Now */
section[aria-selected] {
	left: 0;
}

/* After */
section[aria-selected] ~ section {
	left: +150%;
}

/* Incremental elements */

/* By default, visible */
.incremental > * {
	opacity: 1;
}

/* The current item */
.incremental > *[aria-selected] {
	opacity: 1;
}

/* The items to-be-selected */
.incremental > *[aria-selected] ~ * {
	opacity: 0;
}

/* The progressbar, at the bottom of the slides, show the global
	 progress of the presentation. */
#progress-bar {
	height: 2px;
	background: #AAA;
}



/* Core */

* {
	margin: 0;
	padding: 0;
	/* margin-bottom: 5px; */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

details {
	display: none;
}

body {
	width: 800px; height: 600px;
	margin-left: -400px;
	margin-top: -300px;
	/* margin-bottom: -300px; /* trying this... */
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	display: none;
}

.view body {
	position: static;
	margin: 0; padding: 0;
	width: 100%; height: 100%;
	display: inline-block;
	overflow: visible; overflow-x: hidden;
	/* undo Dz.onresize */
	transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	-o-transform: none !important;
	-ms-transform: none !important;
}

.view head, .view head > title {
	display: block
}

section {
	position: absolute;
	pointer-events: none;
	width: 100%; height: 100%;
}

.view section {
	pointer-events: auto;
	position: static;
	width: 800px; height: 600px;
	margin: -150px -200px;
	float: left;

	transform: scale(.4);
	-moz-transform: scale(.4);
	-webkit-transform: scale(.4);
	-o-transform: scale(.4);
	-ms-transform: scale(.4);
}
.view section > * {
	pointer-events: none;
	}

section[aria-selected] {
	pointer-events: auto;
}

html {
	overflow: hidden;
}

html.view {
	overflow: visible;
}

body.loaded {
	display: block;
}

.incremental {
	visibility: hidden;
}

.incremental[active] {
	visibility: visible;
}

#progress-bar {
	bottom: 0;
	position: absolute;
	-moz-transition: width 400ms linear 0s;
	-webkit-transition: width 400ms linear 0s;
	-ms-transition: width 400ms linear 0s;
	transition: width 400ms linear 0s;
}

.view #progress-bar {
	display: none;
}

a {
	/*color:#446677;*/
	/* color:#137; */
	color:#6cf;
}

a:hover {
	color:#000;
	background-color:#fff;
}

a:visited {
	text-decoration: none;
	/*color:#4F5566;*/
}

strong {
	/* color:#225588; */
	color:#6cf;
}

aside {
	/* color:#405F40; */
	color: #bf5;
	text-align:center;
	font-weight:bold;
	margin:1em 0em 1em 0em;
}

img {
	border: 0.5em solid #000;
}

.img-container {
	text-align: center;
	margin:auto;
}
