---
---

@import 'jekyll-theme-hacker';
@import 'monokai.css';

p, ul, ol {
	font-size: 13px;
	text-justify: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
}

.schedule-page-date {
	color: #5fbaee;
	font-weight: bolder;
}

.redish {
	color: red;
	margin: 0 0 10px;
  	padding: 0;
}

.gradingtable table {
  tr:hover {background-color: #2f4f4f;}
}

.latetable table {
  tr:hover {background-color: #2f4f4f;}
}

.schedulingtable table {
	tr:hover {background-color: #2f4f4f;}
	font-size: 13px;
}

.instructornote p {
	color: red;
}

// .footer-col-wrapper p, h1, h2, h3, h4, h5, h6 {
// 	padding: 20px;
// }

.site-footer p, header {
  padding: 20px;
}

// .btn {
// 	color: #2f4f4f;
// }

// .btn {
// 	// box-shadow:inset 0px 0px 15px 3px #23395e;
// 	background-color:#2e466e;
// 	text-align: center;
// 	border-radius:17px;
// 	// border:1px solid #1f2f47;
// 	display:inline-block;
// 	cursor:pointer;
// 	color:#ffffff;
// 	// font-family:Arial;
// 	font-size:12px;
// 	// padding:6px 13px;
// 	padding:6px 13px;
// 	text-decoration:none;
// 	// text-shadow:0px 1px 0px #263666;
// }
// .btn:hover {
// 	background-color:#415989;
// }
// .btn:active {
// 	position:relative;
// 	top:1px;
// }

// .container-nav {
// 	text-align: center;
// }

#downloads .btn {
  display: inline-block;
	transition: all 0.6s;
	position: relative;
  text-align: center;
  margin: 0;
	padding-right: 40px;
}

/* Buttons
*/
.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
	padding: 8px 18px;
  border-radius: 0px; /* square buttons */
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid black;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 12px;
	text-align: center;
  text-decoration: none;
  // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05); }

.btn:hover {
  // background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
	background: #b5e853; // 1deb5c or 2f4f4f;
	color: black;
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: center; }

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat; }

//////////////////
//
// .btn-two {
//     color: #FFF;
//     transition: all 0.5s;
//     position: relative;
// }
.btn span {
    z-index: 2;
    // display: block;
    // position: absolute;
    width: 100%;
    height: 100%;
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}
.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}
.btn:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}

/// weekly Buttons
.btn-weekly span {
    z-index: 2;
    // display: block;
    // position: absolute;
    width: 100%;
    height: 100%;
}
.btn-weekly::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}
.btn-weekly::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}
.btn-weekly:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-weekly:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}

// /* https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
//
// /* Style the navbar */
// #weeknav {
//   overflow: hidden;
//   background-color: #333;
// }
//
// #weeknav ol, ul {
// 	list-style: none;
// }
//
// /* Navbar links */
// #weeknav a {
//   float: left;
//   display: block;
//   color: #f2f2f2;
//   text-align: left;
//   padding: 14px;
//   text-decoration: none;
// }
// // .fixed { position: fixed; top: -20px;  }
//
// .weeklynavbar {
// 	background-color: inherit;
// }
// .fixed { position: fixed; top: -20px;  }

// /* Page content */
// .content {
//   padding: 16px;
// }
//
// /* The sticky class is added to the navbar with JS when it reaches its scroll position */
// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
// }
//
// /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
// .sticky + .content {
//   padding-top: 60px;
// }
